html, body {
  height: 100%;
}
body {
  overflow: auto!important;
  -webkit-overflow-scrolling: touch;
}
#example, .container {
  height: 100%;
}
.body {
  position: absolute; top: 0; bottom: 0; left: 0; right: 0;
  overflow: scroll;
}
.fixed-bottom {
  position: fixed; bottom: 0; left: 0;
  width: 100%; height: 70px;
  background-color: #ddd;
}
hr {
  margin: 70px 10px;
}
h1,h2,h3,h4,h5,h6{
  margin:0;
  padding: 0;
}
img{
  max-width: 100%;
}
// fix style
.am-modal-content {
  height: auto;
  min-height: 100%;
}
// .am-popup-mask, .am-popup-wrap, .am-popup {
//   position: absolute;
// }
.am-refresh-control-pull, .am-refresh-control-release {
  justify-content: flex-start;
}
.foot{
    height: 50px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
.slider{
  .slider-list{
    .slider-slide{
      p{
        text-align: center;
      }
    }
  }
  .slider-decorator-0{
    position: absolute;
    bottom: 45px!important;
  }
}
div.zhibo-style{
  top: 0;
  width: 100%;
  background-color: #29a1f7;
  .am-navbar-title{
    color:#fff;
  }
}
div.am-tabs{
  height: 44px!important;
}
.center{
  text-align: center;
}
.content{
}
.team-logo-sm{
  width: 40px;
  height: 40px;
}
.home-flex-item{
  border-bottom: 1px solid #f4f4f4;
}
ul{
  padding: 0
}
li{
  list-style:none;
}
.font-sm{
  font-size:12px;
}
.score{
  font-size:12px;
}
.unlink{
  color:#333;
}
.link{
  color:#26a2ff;
}
.rank-team{
  line-height: 24px;
  display: inline-block;
  float: left;
}
.rank-team-logo{
}
.team-link{
  display: inline-block;
}
.fl{
  float: left;
}
.fr{
  float: right;
}
.rank-table{
  tr{
    &:nth-child(2n){
      background-color: #fff;
    }
  }
}
.pic-title{
  padding: 10px
}
.pic-list{
  padding: 0 5px;
  p{
    text-align: right;
    span{
      color: red;
    }
  }
}
div.am-list-item {
  img{
    width:44px;
    height: 44px;
  }
  .am-list-brief{
    font-size:12px;
  }
}